<section
  class="top-banner"
  id="home"
  style="background-image: url('assets/images/top-header-banner.png');"
>
  <div
    style="background-image: url('assets/images/tree-banner.png');"
    class="tree-banner"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto text-center top-banner__content">
        <h2>Christmas</h2>
        <h1 class="text-uppercase">Secret Santa</h1>
        <a href="/#/organize-activity" class="button text-uppercase mt-5"
          >Organise and send email invites to your friends</a
        >
      </div>
    </div>
  </div>
  <particles
    [style]="myStyle"
    [width]="width"
    [height]="height"
    [params]="myParams"
  ></particles>
</section>
